NEXT_PUBLIC_SUPABASE_URL=https://wpucwzntplarnmzifxpu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndwdWN3em50cGxhcm5temlmeHB1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3NzE3MzIsImV4cCI6MjA5NTM0NzczMn0.XyHVbpFfqrkxoBdlYJXHC5wEOZtge32Zz2GwXL4wiAA
